/contracts/out
/contracts/cache
/contracts/.env
**/.env
**/node_modules
/sdk/dist
/contracts/hardhat-artifacts
/contracts/typechain-types
/contracts/hardhat-cache
/agent
/runner/agents/bob
/runner/agents/jill/logs
